/* main font */
body {
    font-family: 'Montserrat', sans-serif; 
}

/* jumbotron */
.jumbotron {
    position: relative;
    background: rgb(0, 0, 0) url("images/gradient.jpg") top -10em center;
    width: auto;
    height: auto; 
    background-size: 150%;
    color: #000;

}

.jumbotron h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}  

/* footer social icons */

.list-inline-item a {
    color: #ffffff;
    padding: 0.5em;
    font-size: 1.5em;
} 
.list-inline-item a:hover {
    color: #ffd10d;

}
/* Portfolio */

h5{
    font-size:2em;
}
p{
    font-size:1em;
    
}
.card {
  width: 100%; 
  height: auto;
  background-color: #ffd10d;
}

.card-img {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  transition:all 0.3s ease-in-out;
  opacity:1;
}
.card:hover .card-img,
.card:focus .card-img {
  transform: scale(1.02);
  opacity:0.1;
}

.card:hover .card-img-overlay{
    color:#2d2d2d;
}

.card-img-overlay>h5, .card-img-overlay>p{
    visibility:hidden;
}

.card-img-overlay:hover h5, .card-img-overlay:hover p{
    visibility: visible;
}

.card:hover .card-img-overlay p{
    font-size:1em;
}

/* Media Queries */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }